body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #e58989;
    color: #333;
  }
  
  .contenedor {
    display: flex;
    height: 100vh;
  }
  
  .menu {
    width: 20%;
    background-color: #f9ebe2;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .menu h2 {
    margin-top: 0;
  }
  
  .menu a {
    color: #000000;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  .menu a:hover {
    background-color: #000000;
  }
  
  .contenido {
    width: 80%;
    padding: 40px;
    background-color: #ffffff;
    box-sizing: border-box;
  }
  
  .contenido h1 {
    margin-top: 0;
  }
  .montserrat-alternates-regular-italic {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: italic;
  }